.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
    /* disable active link */
    pointer-events: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
    width: 30%;
    margin: auto;
    padding: 10px;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font: 1em sans-serif;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}


/* dropdown menu */
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


label {
    display: inline-block;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

.text-center {
    text-align: center;
}

body {
    background-color: #f2f2f2;
}

p a {
    text-decoration: none;
    color: blue;
}

p a:hover {
    text-decoration: underline;
}

p[name="message"] {
    color: green;
    text-align: center;

     /* center */
    margin: auto;
    padding: 10px;
    /* add surrounding box */
    border: 1px solid green;
    /* margin: 10px; */
    width: 30%;
    /* fill with smoother green */
    background-color: #e6ffe6;

}

p[name="error"] {
    color: red;
    text-align: center;
    /* center */
    margin: auto;
    padding: 10px;
    /* add surrounding box */
    border: 1px solid red;
    /* margin: 10px; */
    width: 30%;
    /* fill with smoother red */
    background-color: #ffe6e6;

}

/* div class page-content */
.page-content {
    /* center */
    margin: auto;
    padding: 10px;
    width: 70%;
    
}

.admin-actions {
    /* center */
    margin: auto;
    padding: 10px;
    width: 70%;
    /* fill with smoother green */
    background-color: #e6ffe6;
    /* add surrounding box */
    border: 1px solid green;
    /* margin: 10px; */
}

.admin-actions h2 {
    /* center */
    text-align: center;
    /* fill with smoother green */
    color: #4CAF50;
}

.admin-actions-buttons {
    /* center */
    overflow: hidden;
    /* fill with smoother green */
    
}
