<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Automation System</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
</head>
<body>
    <div class="navbar">
        <a href="/" class="active" style="float: left;">Home</a>
        {% if user.is_authenticated %}
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        {% endif %}
    </div>

    <div class="page-content">

        <h1>Library Automation System</h1>
        Note: This is a demo application. You can do whatever you want with it. All the data will reset after you restart the docker compose.
        
        
        <p>You can do following things without logging in:</p>
        <ul>
            <li>Search the library for books and users</li>
            <li>Donate a book to our collection</li>

        </ul>
        
        <p>After logging in you can also:</p>
        <ul>
            <li>Borrow books</li>
            <li>Return books</li>
            <li>Reserve books</li>
            <li>Cancel reservations</li>
            <li>Buy books</li>
            <li>Donate books</li>
            <li>See your own profile</li>
            <li>See your own history</li>
            <li>Delete your account</li>
        </ul>
        
        <p>After logging in as an admin you can also:</p>
        
        <ul>
            <li>See all other user statistics</li>
            <li>Delete/edit users books fines reservations</li>
            <li>See all books</li>
        </ul>
        
    </div>
    
    
</body>
</html>