<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE library</title>
</head>
<body>
    <h1>Hello to your landing page</h1>

    <p>Here are the books that you borrowed:</p>
    <ul>
        {% for book in books %}
        <li>{{ book.title }}</li>
        {% endfor %}
    </ul>

    <p>Your balance is: {{ balance }}</p>

    <p>Here are the books that you can borrow:<a href="/books">Books</a></p>

    
</body>
</html>