<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
</head>
<body>
    <div class="navbar">
        <a href="/" style="float: left;">Home</a>
        <a href="/profile" class="active">Profile</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="page-content" >

        Welcome, {{ user.name }}!
    
        To log out, click <a href="/logout">here</a>.
    
        Current balance: {{ user.current_balance }}
        <br>
    
        {% if user.user_type == 'student' %}
            <p>Student</p>
        {% elif user.user_type == 'teacher' %}
            <p>Teacher</p>
        {% elif user.user_type == 'admin' %}
            <p>Admin</p>
        {% endif %}
    
    
        My reservations:
        <br>
        {% for reservation in my_reservations %}
            {{ reservation.reservation_id }}: {{ reservation.reservation_date }}
        <br>
        {% endfor %}
        To delete your account, click <a href="/delete">here</a>.

    </div>

</body>
</html>