<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
</head>
<body>
    <div class="navbar">
        <a href="/" style="float: left;">Home</a>
        <a href="/profile" class="active">Profile</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="page-content" >

        <p>Welcome, {{ user.name }}!</p>
        <br>
    
        <p>Current balance: {{ user.current_balance }}</p>

        <p>To deposit money into this account: <a href="/deposit_money">click here</a>.</p>
        <p>To withdraw money from this account: <a href="/withdraw_money">click here</a>.</p>
    
        {% if user.user_type == 'student' %}
            <p>Student</p>
        {% elif user.user_type == 'teacher' %}
            <p>Teacher</p>
        {% elif user.user_type == 'admin' %}
            <p>Admin</p>
        {% endif %}
    
    
        <h2>My reservations</h2>
        {% if my_reservations %}
            <table>
                <tr>
                    <th>Book</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Cancel</th>
                </tr>
                {% for reservation in my_reservations %}
                    <tr>
                        <td><a href="/book/{{ reservation.isbn }}">{{ reservation.title }}</a></td>
                        <td>{{ reservation.last_update_date }}</td>
                        <td>{{ reservation.deadline }}</td>
                        <td><a href="/reservation/cancel/{{ reservation.id }}">Cancel</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>You have no reservations.</p>
        {% endif %}


        <h2>My loaned books</h2>
        {% if my_books %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Return</th>
                </tr>
                {% for book in my_books %}
                    <tr>
                        <td><a href="/book/{{ book.isbn }}">{{ book.title }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.isbn }}</td>
                        <td><a href="/return/{{ book.id }}">Return</a></td>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>You have no books.</p>
        {% endif %}

        <br>

        <h2>My fines</h2>
        {% if my_fines %}
            <table>
                <tr>
                    <th>Fine date</th>
                    <th>Reason</th>
                    <th>Amount</th>
                    <th>Pay</th>
                </tr>
                {% for fine in my_fines %}
                    <tr>
                        <td>{{ fine.fine_date }}</td>
                        <td>{{ fine.reason }}</td>
                        <td>{{ fine.fine_amount }}</td>
                        <td><a href="/fine/pay/{{ fine.id }}">Pay</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>You have no fines.</p>
        {% endif %}

        To delete your account, click <a href="/delete">here</a>.

    </div>

</body>
</html>