<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
</head>
<body>
    Welcome, {{ user.name }}!

    To log out, click <a href="/logout">here</a>.

    Current balance: {{ user.current_balance }}
    <br>

    {% if user.user_type == 'student' %}
        <p>Student</p>
    {% elif user.user_type == 'teacher' %}
        <p>Teacher</p>
    {% elif user.user_type == 'admin' %}
        <p>Admin</p>
    {% endif %}

    To delete your account, click <a href="/delete">here</a>.
</body>
</html>