<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
</head>
<body>
    <div class="navbar">
        <a href="/" style="float: left;">Home</a>
        <a href="/search" class="active" style="float: left;">Search</a>
        {% if user.is_authenticated %}
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        {% endif %}
    </div>

    <div class="page-content">
        <h2 class="text-center">Search</h2>
        <a href="books">See the list of all books</a>
        <form action="/search" method="POST">
            <input type="text" name="search" placeholder="Search for a book or ">
            <input type="submit" value="Search">
        </form>

        {% if search_results|length > 0 %}
            <h3>Search results for "{{ query }}"</h3>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                </tr>
                {% for item in search_results %}
                    <tr>
                        {% if item.type == "book" %}
                            <td>{{ item.title }}</td>
                            <td><a href="/book/{{ item.isbn }}">{{ item.isbn }}</a></td>
                        {% else %}
                            <td>{{ item.name }}</td>
                            <td><a href="/user/{{ item.username }}">{{ item.username }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
        {% else %}
            {% if query %}
                <h3>No results found for "{{ query }}"</h3>
            {% endif %}

        {% endif %}
    </div>
    
</body>
</html>